[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Comment=PhpStorm {{ phpstorm_version }}
Exec=/usr/local/bin/phpstorm
Icon=/opt/phpstorm-{{ phpstorm_version }}/bin/webide.png
Path=
Terminal=false
StartupNotify=false